<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/tree.js"></script>
    <style>
    {% for lvl in lvls %}
        .l{{ lvl }} {
            padding-left: 20px;
        }
    {% end %}
        .is_ancestor {
            color: #78A7DE;
            cursor: pointer;
        }
        .is_ancestor:hover {
            color: #935C5C;
        }
    </style>
</head>

<body>
    <select size="1">
    {% for lvl in lvls %}
        {% if lvl == start_lvl %}
            <option selected value="{{ lvl }}">{{ lvl }}</option>
        {% else %}
            <option value="{{ lvl }}">{{ lvl }}</option>
        {% end %}
    {% end %}
    </select>

    <input type="text" style="display: inline">
    <div id="root">
    {% set cur_lvl = 0 %}
    {% set ancestors_count = 0 %}
    {% set rows.reverse() %}

    {% while rows %}
        {% set row = rows.pop() %}

        {% if row['lvl'] < cur_lvl %}
            {% set ancestors_count -= 1 %}
            {% for l in range(cur_lvl - row['lvl']) %}
            </div>
            {% end %}
            {% set cur_lvl = row['lvl'] %}
        {% end %}

        {% if row['lvl'] == cur_lvl %}
            </div>
        {% end %}

        {% if row['lvl'] > cur_lvl %}
            {% set cur_lvl = row['lvl'] %}
            {% set ancestors_count += 1 %}
        {% end %}

        {% if row['is_ancestor'] %}
            <div class="l{{ row['lvl'] }}" id="{{ row['code'] }}">
            <span class="is_ancestor">{{ row['name'] }} L{{ row['lvl'] }}</span>
        {% else %}
            <div class="l{{ row['lvl'] }}" id="{{ row['code'] }}">{{ row['name'] }} L{{ row['lvl'] }}
        {% end %}
            <button class="edit">edit</button>
            <button class="delete">delete</button>
    {% end %}

    {% for r in range(ancestors_count) %}
        </div>
    {% end %}
    </div>
</body>
</html>