<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/tree.js"></script>
    <style>
    {% for lvl in lvls %}
        .l{{ lvl }} {
            padding-left: {{ 10*lvl}}px;
        }
    {% end %}
        .is_ancestor {
            color: #78A7DE;
            cursor: pointer;
        }
        .is_ancestor:hover {
            color: #935C5C;
        }
    </style>
</head>

<body>
    <select size="1">
    {% for lvl in lvls %}
        {% if lvl == start_lvl %}
            <option selected value="{{ lvl }}">{{ lvl }}</option>
        {% else %}
            <option value="{{ lvl }}">{{ lvl }}</option>
        {% end %}
    {% end %}
    </select>

    <input type="text" style="display: inline">

    <div id="root">
    {% for row in rows %}
        {% if row['is_ancestor'] %}
        <div class="l{{ row['lvl'] }}" id="{{ row['code'] }}">
        <span class="is_ancestor">{{ row['name'] }} L{{ row['lvl'] }}</span>
        {% else %}
        <div class="l{{ row['lvl'] }}" id="{{ row['code'] }}">{{ row['name'] }} L{{ row['lvl'] }}
        {% end %}
        <button class="edit">edit</button>
        <button class="delete">delete</button>
        </div>
    {% end %}
    </div>
</body>
</html>